$white: (
  '50': #FFF,
  '100': #d9d9d9
);

$red: #eb5757;

$greend: #33c77a;

$black: (
  '50': #8a939b,
  '100': #353840,
  '150': #04111d,
  '200': #070504,
);

$blue: (
  '50': #2081e2,
  '100': #1868b7
);