@use '../utils' as *;

.home {
  background: map-get($white , '100' );
  height: calc(100vh - 80px);
  width: 100%;
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 1rem;
  padding-top: 1rem;
}